<div class="nav-links-co">
    <div class="p-col-8 p-offset-2">
        <div class="links-nav ">
            <div class="p-grid p-align-center">
                <div class="p-col nav-item "><a href="# ">About Us</a></div>
                <div class="p-col nav-item "><a href="# ">Insurance Type</a></div>
                <div class="p-col nav-item "><a href="# ">Claims</a></div>
                <div class="p-col nav-item "><a href="# ">Blog</a></div>
                <div class="p-col nav-item "><a href="# ">Contact US</a></div>
            </div>
        </div>
    </div>
</div>