<section class="payment">
    <h3 class="payment-title">{{ 'checkout.payment_method' | translate }}</h3>
    <div class="methods">
        <p-card>
            <p-header>
                <div class="p-grid">
                    <div class="p-col">
                        <p-radioButton name="method-payment" value="visa" (onClick)="onClicked($event)">{{ 'checkout.credit_card' | translate }}</p-radioButton>
                        <span class="title-method">
                            {{ 'checkout.credit_card' | translate }}
                        </span>
                    </div>
                    <div class="p-col">
                        <ul class="icons-payment">
                            <li class="icon-payment"><img src="assets/images/icons/visa.png" alt="visa"></li>
                            <li class="icon-payment"><img src="assets/images/icons/master-card.jpg" alt="master-card"></li>
                            <li class="icon-payment"><img src="assets/images/icons/mastero.jpg" alt="mastero"></li>
                        </ul>
                    </div>
                </div>

            </p-header>

            <div class="body-content">

                <form action="" class="form-group-custom" [formGroup]="form">

                    <div class="p-grid">
                        <div class="p-col-12">
                            <input type="text" pInputText formControlName="cardNumber" id="card_number" class="form-field" />
                        </div>

                        <div class="p-col-12">
                            <input type="text" pInputText formControlName="name" id="name_card" class="form-field" />
                        </div>


                        <div class="p-col-6  res-mobile">
                            <input type="email" pInputText formControlName="email" id="email" class="form-field" />
                        </div>
                        <div class="p-col-6  res-mobile">
                            <input type="number" pInputText formControlName="number" id="number" class="form-field" />
                        </div>
                        <div class="p-col-6  res-mobile">
                            <input type="text" pInputText formControlName="expDate" id="exp" class="form-field" />
                        </div>
                        <div class="p-col-6  res-mobile">
                            <input type="text" pInputText formControlName="securityCode" id="security_code" class="form-field" />
                        </div>
                    </div>
                </form>

            </div>

            <div class="push"></div>
        </p-card>
        <footer class="footer">
            <div class="foorer-cash">

                <p-radioButton name="method-payment" value="cash">{{ 'checkout.cash' | translate }}</p-radioButton>
                <span class="title-method">
                    {{ 'checkout.cash' | translate }}
                </span>
            </div>
        </footer>

    </div>
</section>