<div class=" " (click)="changeStatus()">
    <span class="pi pi-align-justify "></span>
</div>
<p-sidebar [(visible)]="display" position="right" (onHide)="sidenavClosed()">
    <div class="links">
        <div class=" nav-item " (click)="onClose()"><a href="# ">About Us</a></div>
        <div class=" nav-item " (click)="onClose()"><a href="# ">Insurance Type</a></div>
        <div class=" nav-item " (click)="onClose()"><a href="# ">Claims</a></div>
        <div class="nav-item " (click)="onClose()"><a href="# ">Blog</a></div>
        <div class=" nav-item " (click)="onClose()"><a href="# ">Contact US</a></div>
    </div>
</p-sidebar>