<div class="services">
    <h2 style="margin-bottom: 0px;">{{ 'services.title' | translate }}</h2>
    <h4 style="margin-top: 0px;">{{ 'services.title2' | translate }}</h4>


    <div class="p-grid">
        <div class="p-col">
            <img src="assets/images/services/healthy.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service1' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/life.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service2' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/travel.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service3' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/sea.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service4' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/motor.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service5' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/personal.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service6' | translate }}</h5>
        </div>
        <div class="p-col">
            <img src="assets/images/services/home.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service7' | translate }}</h5>
        </div>
    </div>
</div>