<div class="services">
    <h2 style="margin-bottom: 0px;">{{ 'services.title' | translate }}</h2>
    <h4 style="margin-top: 0px;">{{ 'services.title2' | translate }}</h4>


    <div class="p-grid">
        <div class="p-col service" (click)="onNavigate('general-accidents')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/healthy.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service1' | translate }}</h5>
        </div>
        <div class="p-col service" (click)="onNavigate('medical-insurance')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/life.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service2' | translate }}</h5>
        </div>
        <div class="p-col service" (click)="onNavigate('travel-insurance')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/travel.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service3' | translate }}</h5>
        </div>
        <div class="p-col service" (click)="onNavigate('marine-insurance')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/sea.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service4' | translate }}</h5>
        </div>
        <div class="p-col service" (click)="onNavigate('motor-insurance')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/motor.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service5' | translate }}</h5>
        </div>
        <div class="p-col service" (click)="onNavigate('engineering-insurance')">
            <div class="overlay">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/personal.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service6' | translate }}</h5>
        </div>
        <div class="p-col service">
            <div class="overlay" (click)="onNavigate('property-insurance')">
                <i class="far fa-comment-dots"></i>
            </div>
            <img src="assets/images/services/home.png" alt="healthy image" width="100" height="100">
            <h5>{{ 'services.service7' | translate }}</h5>
        </div>
    </div>
</div>