.wrapping-title {
    text-align: center;
}

.wrapping-title h2 {
    font-size: 35px;
    margin-bottom: 0px;
     font-family: OpenSans-Bold;
     
}

.wrapping-title h4 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 60px;
    font-family: OpenSans-Regular;
       color: #606060 !important;
}