<div class="main-content container">
    <h1>{{ 'quotes.lowest_price' | translate }}</h1>
    <h2>{{ 'quotes.get_insurced' | translate }} <span class="title-custom">{{ 'quotes.2mins' | translate }}.</span> </h2>

    <h5>{{ 'quotes.compare_title' | translate }}</h5>


    <div id="menu-quotes" *ngIf="lang == 'en'">
        <p-tabView dir="auto" (onChange)="handleChange($event)">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.car' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>
                    <i class="fas fa-car icon-tabs"></i>
                </ng-template>
                <div class="p-grid">
                    <div class="p-md-8 p-sm-12  res-mobile">
                        <app-car-insurance></app-car-insurance>
                    </div>
                    <div class="p-md-4  p-sm-12 res-mobile">
                        <app-best-price></app-best-price>
                    </div>
                </div>


            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.medical' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>

                    <i class="fas fa-stethoscope icon-tabs"></i>
                </ng-template>
                <div class="p-grid">
                    <div class="p-md-8 p-sm-12  res-mobile">
                        <app-medical-insurance></app-medical-insurance>
                    </div>
                    <div class="p-md-4  p-sm-12 res-mobile">
                        <app-best-price></app-best-price>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.life' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>
                    <i class="fas fa-shield-alt icon-tabs"></i>
                </ng-template>


                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point
                of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


            </p-tabPanel>
        </p-tabView>

    </div>

    <div id="menu-quotes" *ngIf="lang == 'ar'">
        <p-tabView dir="auto" (onChange)="handleChange($event)">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.life' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>
                    <i class="fas fa-shield-alt icon-tabs"></i>
                </ng-template>


                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point
                of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.medical' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>

                    <i class="fas fa-stethoscope icon-tabs"></i>
                </ng-template>
                <div class="p-grid">
                    <div class="p-md-8 p-sm-12  res-mobile">
                        <app-medical-insurance></app-medical-insurance>
                    </div>
                    <div class="p-md-4  p-sm-12 res-mobile">
                        <app-best-price></app-best-price>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel [selected]="true">
                <ng-template pTemplate="header">
                    <span>{{ 'quotes.car' | translate }}</span>
                    <span class="break-text">{{ 'quotes.insurance' | translate }}</span>
                    <i class="fas fa-car icon-tabs"></i>
                </ng-template>
                <div class="p-grid">
                    <div class="p-md-8 p-sm-12  res-mobile">
                        <app-car-insurance></app-car-insurance>
                    </div>
                    <div class="p-md-4  p-sm-12 res-mobile">
                        <app-best-price></app-best-price>
                    </div>
                </div>


            </p-tabPanel>
        </p-tabView>

    </div>

    <span class="dvider-sp"></span>

    <app-collbrations></app-collbrations>
</div>