<nav class="nav-container ">
    <div class="p-grid">
        <div class="p-col-6 ">
            <span class=" logo-website ">
             <a href="">   
                <img src="assets/images/logo-amenli.jpeg"  class="show-img" style="display: block;" />
                <img src="assets/images/logo-amenli.jpeg"  class="hidden-img" style="display: none;" />
            </a>
            </span>
        </div>

        <div class="p-col-6 ">
            <app-header></app-header>
        </div>
    </div>
    <div style="clear:both"></div>

</nav>