.form-control:last-child {
    margin-top: 45px;
    margin-bottom: -31px!important;
    font-size: 16px;
    margin-left: 30px;
}

.radio-suffer label {
    margin-right: 44px;
    font-size: 16px;
    font-weight: 100;
}

p-radiobutton {
    margin-right: 7px;
}
